# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
*.egg-info/

# Environment
.env

# Node
frontend/node_modules/
frontend/dist/
functions/node_modules/
node_modules/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
